/* FONT */

@font-face {
  font-family: "Coolvetica";
  src: url("/fonts/coolvetica\ rg.otf");
}
/* CCS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img,
picture,
svg,
video {
  display: block;
}

input,
textarea,
button,
select {
  font: inherit;
}

/* ______MAIN______ */
body {
  height: 100%;
  display: flex;
}

.main-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 65vw;
}

.main-page-header {
  padding: 6rem 12rem 4rem 4rem;
  background-color: rgb(249, 250, 251);
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  min-height: 39.5vh;
  box-shadow: 0 10px 15px -15px rgba(0, 0, 0, 0.5);
}

/* SIDE-IMAGE */

.side-image {
  height: 100vh;
  background-image: url(images/Clouds1.jpg);
  image-rendering: crisp-edges;
  background-size: cover;
  flex: 35vw;
  position: relative;
}

.side-image-header {
  display: flex;
  background-color: rgba(255, 255, 255, 0.726);
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-top: 21vh;
}

p {
  font-size: clamp(10vh, 15vh, 20vh);
  color: skyblue;
  font-family: "Coolvetica";
}

/* MAIN CONTENT */

h1 {
  font-family: "Coolvetica";
  font-size: clamp(1vw, 2vw, 4vw);
  color: skyblue;
}

h2 {
  margin-top: 1vw;
  font-size: 2vw;
  color: skyblue;
  font-family: "Coolvetica";
}

/* FORM */

.compilalo {
  margin-bottom: 2rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-left: 4rem;
  padding-bottom: 2rem;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.form-column {
  margin-right: 4rem;
}

label {
  display: block;
  width: 100%;
  margin-bottom: 5px;
}

input {
  width: 20rem;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 0.5rem;
  border: 1px solid rgba(136, 207, 233, 0.839);
}

input:hover {
  border: 1px solid rgb(0, 145, 255);
}

input:focus,
input:active {
  outline: none;
  border: 2px solid rgb(67, 202, 255) !important;
  box-shadow: 2px 3px 10px rgba(118, 118, 118, 0.791);
}

input:invalid {
  border: 1.8px solid rgba(255, 55, 15, 0.839);
}

p.error-message {
  color: rgba(255, 55, 15, 0.839);
  font-size: 0.9rem;
}

/* LAST SECTION */

.last-section {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  padding-left: 4rem;
  background-color: rgb(249, 250, 251);
  box-shadow: 0 10px 17px -15px inset rgba(0, 0, 0, 0.5);
  flex: 1;
}

button {
  width: 15rem;
  padding: 1rem 4rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  align-content: center;
  background-color: rgb(123, 206, 219);
  border: none;
  border-radius: 0.5rem;
}

button:hover {
  background-color: rgb(92, 184, 255);
  cursor: pointer;
}
